input {
    border: 1px solid rgba(27, 1, 1, 0.952);
    background-color: rgba(252, 252, 252, 0);
    width: 250px;
    border-radius: 3px;
  
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
    margin: 2% auto;
    padding: 10px 0;
}